@page "/Login"
@model LoginModel

@{
    ViewData["Title"] = "Inicio de sesión";
}
<div class="container">
    <div class="row my-2">
        <div class="col">
            <div class="authentication-wrapper authentication-basic container-p-y">
                <div class="authentication-inner">
                    @* Loguearse Start *@
                    <div class="card">
                        <div class="card-body">

                            @* Logo Start *@
                            <div class="app-brand justify-content-center mb-1">
                                <a href="index.html" class="app-brand-link gap-2">
                                    <span class="app-brand-logo">
                                        <img src="~/img/login_rosa.png" style="width:8rem; height:8rem;" class="imagen-width img-fluid" />
                                    </span>
                                </a>
                            </div>
                            @* Logo End *@

                            <h4 class="mb-2 text-center">Bienvenido a</h4>
                            <h5 class="app-brand-text text-body fw-bolder text-center">Mi Hada Madrina</h5>
                            <h3 class="mb-4 text-center fw-bold">Iniciar sesi&oacute;n</h3>

                            <form id="account" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group mb-3">
                                    <label class="control-label label-form pl-1" for="email">Email</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">&#64;</div>
                                        </div>
                                        <input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="username" aria-required="true" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group mb-3 form-password-toggle">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" placeholder="Password" autocomplete="current-password" aria-required="true" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div>
                                    <div class="checkbox mb-3">
                                        <label asp-for="Input.RememberMe">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button id="loginSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Iniciar sesi&oacute;n</button>
                                </div>
                                <div>
                                    <p>
                                        <a id="forgot-password" asp-page="./ForgotPassword">Recuperar contraseña</a>
                                    </p>
                                    <p>
                                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar email de confirmaci&oacute;n</a>
                                    </p>
                                </div>
                            </form>
                            <p class="text-center">
                                <span>¿No tienes cuenta?</span>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                                    <span>Crear cuenta</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    @* Loguearse End *@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
