@page "/Registro"
@model RegisterModel

@{
    ViewData["Title"] = "Registrarse";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="authentication-wrapper authentication-basic container-p-y">
                <div class="authentication-inner">
                    @* Registrarse Start *@
                    <div class="card">
                        <div class="card-body">

                            @* Logo Start *@
                            <div class="app-brand justify-content-center mb-1">
                                <a href="index.html" class="app-brand-link gap-2">
                                    <span class="app-brand-logo">
                                        <img src="~/img/registro_amarillo.png" style="width:8rem; height:8rem;" class="imagen-width img-fluid" />
                                    </span>
                                </a>
                            </div>
                            @* /Logo End *@

                            <h4 class="mb-2 text-center">Bienvenido a</h4>
                            <h5 class="app-brand-text text-body fw-bolder text-center">Mi Hada Madrina</h5>
                            <h3 class="mb-4 text-center fw-bold">Crear una cuenta</h3>

                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group mb-3">
                                    <label class="control-label label-form pl-1" for="email">Email</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">&#64;</div>
                                        </div>
                                        <input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="username" aria-required="true" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group mb-3 form-password-toggle">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" placeholder="Password" autocomplete="new-password" aria-required="true" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3 form-password-toggle">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Repeat password" autocomplete="new-password" aria-required="true" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrarse</button>
                                </div>
                            </form>
                            <p class="text-center">
                                <span>¿Ya tienes una cuenta?</span>
                                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">
                                    <span>Inicia sesi&oacute;n</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    @* /Registrarse End *@
                </div>
            </div>
        </div>
    </div>
</div>

on Scripts {
    <partial name="_ValidationScriptsPartial" />
}