@* Footer Start *@
<footer class="footer-general py-2 bg-dark mt-auto">
    <p class="text-wrap text-white pt-3">
        <a class="text-muted text-decoration-none fw-bold flex-fill d-inline-block px-3 font-weight-bold" asp-area="Public" asp-controller="Privacy" asp-action="Index" asp-fragment="privacidad" target="_blank">Privacidad y T&eacute;rminos de uso</a>
        <a class="text-muted text-decoration-none fw-bold flex-fill d-inline-block px-3 font-weight-bold" asp-area="Public" asp-controller="Privacy" asp-action="Index" asp-fragment="cookies" target="_blank">Cookies</a>
        <a class="text-muted text-decoration-none fw-bold flex-fill d-inline-block px-3 font-weight-bold" asp-area="Public" asp-controller="Faqs" asp-action="Index" asp-fragment="guia" target="_blank">Gu&iacute;a de Uso</a>
        <a class="text-muted text-decoration-none fw-bold flex-fill d-inline-block px-3 font-weight-bold" asp-area="Public" asp-controller="Faqs" asp-action="Index" asp-fragment="documentos" target="_blank">Documentos</a>
    </p>
    <div class="text-muted text-decoration-none fw-bold text-wrap">
        <p class="flex-fill d-inline-block px-3">Desarrollado por</p>
        <p class="flex-fill d-inline-block px-3">Andrea Lamus Prada </p>
        <p class="flex-fill d-inline-block px-3">Mar&iacute;a Estefan&iacute;a Mart&iacute;nez Ayala</p>
    </div>
    <p class="text-wrap text-white">&copy; 2023 - Mi Hada Madrina - <a class="text-white">DevFAndy</a></p>
</footer>
@* Footer End *@