

@{

}
@*Le tenemos que pasar el idPedido*@
<div class="text-center">
    <a asp-controller="ImprimirPedido" asp-action="ImprimirPedido" asp-route-idPedido="14" class="btn btn-info text-white">Imprimir Pedido</a>
</div>