@using Microsoft.AspNet.Identity
@using MiHadaMadrinaShop.Models
@inject MiHadaMadrinaHandMadeDBContext _context


<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="keywords" content="Scrap, Scrapbooking, Papeler&iacute;a, Regalos, Bebes, &Aacute;lbum, Decoraci&oacute;n" />
    <meta name="description" content="Tienda Online venta de articulos de scrapbooking" />
    <meta name="robots" content="index,nofollow" />
    <meta name="author" content="Andrea Lamus Prada" />
    <meta name="author" content="Mar&iacute;a Estefan&iacute;a Mart&iacute;nez Ayala" />
    <meta name="copyright" content="(C) DevFAndy - 2023" />
    <title>@ViewData["Title"] - Mi Hada Madrina Hand Made</title>
    @*Bootstrap CSS*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*Bootstrap icons*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    @*Fontawesome icons*@
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/fontawesome/css/fontawesome.css" />
    @*Estilos generales*@
    <link rel="stylesheet" href="~/css/estilos.css" />
    @*Estilos páginas de registro y login*@
    <link rel="stylesheet" href="~/css/auth.css" />
    @*Estilos que sobre escribe los colores de bootstrap*@
    <link rel="stylesheet" href="~/css/core.css" />
    <link rel="stylesheet" href="~/css/theme-default.css" />

</head>
<body>

    @* Navigation Start*@
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mi Hada Madrina</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Public" asp-controller="Contact" asp-action="Index">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Public" asp-controller="Productos" asp-action="Index">Tienda</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">Categorías</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            @foreach (var categoria in _context.Categorias)
                            {
                                <li><a class="dropdown-item" asp-area="Public" asp-controller="Productos" asp-action="Index" asp-route-idCategoria="@categoria.IdCategoria">@categoria.Categoria1</a></li>
                            }



                            @* <li><hr class="dropdown-divider" /></li>
                            TODO: Hacer lo de las categorías
                            *@
                            @*  <li><a class="dropdown-item" href="#!">Tarjetas</a></li>
                            <li><a class="dropdown-item" href="#!">Cajas</a></li>
                            <li><a class="dropdown-item" href="#!">Álbumes</a></li>
                            <li><a class="dropdown-item" href="#!">Libros de firmas</a></li>*@
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Carrito
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>@* TODO: Poner contador de artículos*@
                    </button>
                </form>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    @* Navigation End *@

    @* Header Start *@
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Bienvenido al mágico mundo del scrapbooking</h1>
                <p class="lead fw-normal text-white-50 mb-0">donde los sueños se convierten en creaciones hechas a mano.</p>
            </div>
        </div>
    </header>
    @* Header End*@



    @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mi Hada Madrina</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="Public" asp-controller="Productos" asp-action="Index">Tienda</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="Public" asp-controller="Contact" asp-action="Index">Contacto</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>

    <partial name="_MenuPartial" />
    </ul>
    <partial name="_LoginPartial" />
    </div>
    </div>
    </nav> *@


    <div class="container-fluid">
        <main role="main" class="">
            @*  <partial name="_LayoutSideNav" />*@
            @RenderBody()
        </main>
    </div>

    <partial name="_CookieConsentPartial" />
    <footer class="footer-general sticky-footer">
        <p class="text-wrap text-white">&copy; 2023 - Mi Hada Madrina Hand Made - <a class="text-white">DevFAndy</a></p>
        <p class="text-wrap text-white">
            <a class="text-dark text-decoration-none fw-bold flex-fill d-inline-block px-3 font-weight-bold" asp-controller="Privacy" asp-action="Index" asp-fragment="privacidad" target="_blank">Privacidad y T&eacute;rminos de uso</a>
            <a class="text-dark text-decoration-none fw-bold flex-fill d-inline-block px-3 font-weight-bold" asp-controller="Privacy" asp-action="Index" asp-fragment="cookies" target="_blank">Cookies</a>
            <a class="text-dark text-decoration-none fw-bold flex-fill d-inline-block px-3 font-weight-bold" asp-controller="Faqs" asp-action="Index" asp-fragment="guia" target="_blank">Gu&iacute;a de Uso</a>
            <a class="text-dark text-decoration-none fw-bold flex-fill d-inline-block px-3 font-weight-bold" asp-controller="Faqs" asp-action="Index" asp-fragment="docs" target="_blank">Documentaci&oacute;n</a>
        </p>
        <div class="text-dark text-decoration-none fw-bold text-wrap">
            <p class="flex-fill d-inline-block px-3">Desarrollado por</p>
            <p class="flex-fill d-inline-block px-3">Andrea Lamus Prada </p>
            <p class="flex-fill d-inline-block px-3">Mar&iacute;a Estefan&iacute;a Mart&iacute;nez Ayala</p>
        </div>
    </footer>
    @*jQuery first, then Bootstrap JS*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @*  <script src="~/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/js/menu.js"></script>

    <!-- Main JS -->
    <script src="~/js/main.js"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
    @*<partial name="_ValidationScriptsPartial" />*@

</body>
</html>
