@using Microsoft.AspNet.Identity;

@{
    if (User.Identity.GetUserId() != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Public" asp-controller="TCestums" asp-action="Index"><i class="fas fa-shopping-cart"></i></a>
        </li>

    }
}