@using Microsoft.AspNetCore.Identity

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Categorias" asp-action="Index">Categorías</a>
</li>
@* <li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Subcategorias" asp-action="Index">Subcategorías</a>
</li>*@
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Productos" asp-action="Index">Productos</a>
</li>

