@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="btn btn-outline-dark justify-content-end" asp-area="Admin" asp-controller="Pedidos" asp-action="Index">Dashboard</a>
    </li>
</ul>