@using Microsoft.AspNet.Identity;


<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Contacto" asp-action="Index">Contacto</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>

@{
    if (User.Identity.GetUserId() != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Public" asp-controller="TCestums" asp-action="Index"><i class="fas fa-shopping-cart"></i></a>
        </li>

    }
}
