@model MiHadaMadrinaShop.Models.ViewModels.EditarUsuarioModelo

@{
    ViewData["Title"] = "Editar usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
        <li><a asp-area="" asp-controller="Home" asp-action="Index" class="text-black-50 text-decoration-none">Inicio</a><i class="fas fa-angle-right text-black-50 px-2"></i></li>
        <li><a asp-area="Admin" asp-controller="Users" asp-action="Edit" class="text-dark text-decoration-none active">Editar Usuario</a></li>
    </ol>
</div>
<hr class="d-block d-md-none" />

<div class="container">
    <div class="row">
        <div class="col-4 col-sm-12 align-items-center d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <h1 class="font-weight-bold font-italic">Editar usuario</h1>
                </div>
                <form asp-action="Edit" method="post">
                    <div class="card-body py-0">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                         <div class="form-group mb-3">
                        <label asp-for="NombreUsuario" class="control-label"></label>
                        <input asp-for="NombreUsuario" class="form-control" />
                        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group d-flex justify-content-between" role="group" aria-label="Botones">
                            <a asp-action="Index" class="btn btn-secondary w-50"><i class="fas fa-arrow-left"></i> Volver</a>&nbsp;
                            <button type="submit" class="btn btn-primary w-50"><i class="fas fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4 col-sm-12 align-items-center d-flex">
            <img src="~/img/illustrations/download.svg" alt="imagen de edición" class="imagen-width img-fluid flex-fill rounded mx-auto" />
        </div>
        <div class="col-4 col-sm-12 align-items-center d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <h1>Roles del usuario</h1>
                </div>
                <div class="card-body">
                    @if (Model.Roles.Any())
                    {
                        foreach (var rol in Model.Roles)
                        {
                            <h5 class="card-title">
                                @rol
                            </h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">
                            El usuario no tiene asignado ningún rol
                        </h5>
                    }
                </div>
                <div class="card-footer d-flex">
                    <a asp-controller="Users" asp-action="EditarRolUsuario" asp-route-rolId="@Model.Id" class="btn btn-primary justify-content-center flex-fill"><i class="fas fa-user"></i> Gestionar roles</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@*  <div class="row">

       <div class="col-6 align-items-center">
    <div class="card">
    <div class="card-header">
    <h1>Notificaciones del usuario</h1>
    </div>
    <div class="card-body">
    @if (Model.Notificaciones.Any())
    {
    foreach (var notificacion in Model.Notificaciones)
    {
    <h5 class="card-title">
    @notificacion
    </h5>
    }
    }
    else
    {
    <h5 class="card-title">
    El usuario no tiene asignado ninguna notificación
    </h5>
    }
    </div>
    <div class="card-footer">
    <a asp-controller="" asp-action="" asp-route-rolId="" class="btn btn-primary">Gestionar notificaciones</a>
    </div>
    </div>
    </div>
    </div>
    *@