@model MiHadaMadrinaShop.Models.ViewModels.EditarUsuarioModelo

@{
    ViewData["Title"] = "Editar usuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container py-5 d-flex flex-column min-vh-100">
    <div class="row">
        <div class="col mt-4">
            <h1 class="font-weight-bold font-italic">Usuario</h1>
        </div>
    </div>
    <ol class="breadcrumb mb-4 bg-transparent">
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index" class="text-black-50 text-decoration-none">Dashboard</a><i class="fas fa-angle-right text-black-50 px-2"></i></li>
        <li><a asp-area="Admin" asp-controller="Users" asp-action="Index" class="text-black-50 text-decoration-none">Usuario</a><i class="fas fa-angle-right text-black-50 px-2"></i></li>
        <li><a asp-area="Admin" asp-controller="Users" asp-action="Edit" class="text-dark text-decoration-none active">Editar</a></li>
    </ol>
    <hr class="d-block d-md-none" />

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 align-items-center">
            <div class="card">
                <div class="card-header">
                    <h1 class="font-weight-bold font-italic">Editar usuario</h1>
                </div>
                <form asp-action="Edit" method="post">
                    <div class="card-body py-0">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="NombreUsuario" class="control-label"></label>
                            <input asp-for="NombreUsuario" class="form-control" />
                            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group justify-content-between" role="group" aria-label="Botones">
                            <a asp-action="Index" class="btn btn-secondary w-auto mb-1"><i class="fas fa-arrow-left"></i> Volver</a>&nbsp;
                            <button type="submit" class="btn btn-primary w-auto mb-1"><i class="fas fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-8 col-md-4 align-items-center">
            <img src="~/img/illustrations/undraw_profile_data_re_v81r.svg" alt="imagen de edici&oacute;n" class="imagen-width img-fluid rounded mx-auto" />
        </div>
       
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@* <div class="col-12 col-md-6 col-lg-4 align-items-center">
            <div class="card">
                <div class="card-header">
                    <h1>Roles del usuario</h1>
                </div>
                <div class="card-body">
                    @if (Model.Roles.Any())
                    {
                        foreach (var rol in Model.Roles)
                        {
                            <h5 class="card-title">
                                @rol
                            </h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">
                            El usuario no tiene asignado ningún rol
                        </h5>
                    }
                </div>
                <div class="card-footer">
                    <a asp-controller="Users" asp-action="EditarRolUsuario" asp-route-rolId="@Model.Id" class="btn btn-primary justify-content-center"><i class="fas fa-user"></i> Gestionar roles</a>
                </div>
            </div>
        </div>*@