@model MiHadaMadrinaShop.Models.Pedido
@inject MiHadaMadrinaHandMadeDBContext _context;

@{
    ViewData["Title"] = "Eliminar pedido";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var listaEstados = _context.Estados.ToList();
    List<TCestum> listaCestas = _context.TCesta.Where(q => q.IdPedido.Equals(Model.IdPedido)).ToList();
    Direccione direccionDomicilio = (Direccione)_context.Direcciones.Where(q => q.IdDireccion.Equals(Model.IdDireccionDomicilio)).FirstOrDefault();
    Direccione direccionFacturacion = (Direccione)_context.Direcciones.Where(q => q.IdDireccion.Equals(Model.IdDireccionFacturacion)).FirstOrDefault();
    var userId = listaCestas.FirstOrDefault().IdAppNetUsers;
    AspNetUser user = _context.AspNetUsers.Where(q => q.Id.Equals(userId)).FirstOrDefault();
}

<div class="container py-5 d-flex flex-column min-vh-100">
    <div class="row">
        <div class="col mt-4">
            <h1 class="font-weight-bold font-italic">Pedido</h1>
        </div>
    </div>
    <ol class="breadcrumb mb-4 bg-transparent">
        <li><a asp-area="Admin" asp-controller="Pedidos" asp-action="Index" class="text-black-50 text-decoration-none">Dashboard</a><i class="fas fa-angle-right text-black-50 px-2"></i></li>
        <li><a asp-area="Admin" asp-controller="Pedidos" asp-action="Index" class="text-black-50 text-decoration-none">Pedido</a><i class="fas fa-angle-right text-black-50 px-2"></i></li>
        <li><a asp-area="Admin" asp-controller="Pedidos" asp-action="Delete" class="text-dark text-decoration-none active">Eliminar</a></li>
    </ol>
    <hr class="d-block d-md-none" />

    <div class="row">
        <div class="col-12 col-md-6 align-items-center">
            <div class="card d-flex justify-content-center p-4">
                <div class="card-header">
                    <h1 class="font-weight-bold font-italic">Eliminar pedido</h1>
                </div>
                <form asp-action="Delete" method="post">
                    <div class="card-body py-0">
                        @{
                            if (Model.IdEstado != 7)
                            {
                                <h3>¿Seguro que desea eliminar el pedido n&uacute;mero: @Model.IdPedido?</h3>
                                <input type="hidden" asp-for="IdPedido" />
                                <div class="card-footer">
                                    <div class="form-group justify-content-between" role="group" aria-label="Botones">
                                        <a asp-action="Index" class="btn btn-secondary w-auto mb-1"><i class="fas fa-arrow-left"></i> Volver</a>&nbsp;
                                        <button type="submit" class="btn btn-danger w-auto mb-1"><i class="fas fa-trash-alt"></i> Eliminar</button>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <h3>El pedido ya ha sido facturado. No se puede eliminar.</h3>
                                <input type="hidden" asp-for="IdPedido" />
                                <div class="card-footer">
                                    <a asp-action="Index" class="btn btn-secondary w-auto mb-1"><i class="fas fa-arrow-left"></i> Volver</a>
                                </div>
                            }
                        }
                    </div>
                </form>
            </div>
        </div>
        <div class="col-8 col-md-4 align-items-center">
            <img src="~/img/illustrations/undraw_cancel_re_pkdm.svg" alt="eliminar imagen" class="imagen-width img-fluid rounded mx-auto" />
        </div>
    </div>
</div>