@page
@model MiHadaMadrinaShop.Areas.Identity.Pages.Account.Manage.Direcciones.CreateModel

@{
    ViewData["Title"] = "Crear dirección";
    Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h1>Direcciones</h1>

<h4>Crear nueva direcci&oacute;n</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Direccione.CodPostal" class="control-label"></label>
                <input asp-for="Direccione.CodPostal" class="form-control" />
                <span asp-validation-for="Direccione.CodPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccione.Direccion" class="control-label"></label>
                <input asp-for="Direccione.Direccion" class="form-control" maxlength="250" />
                <span asp-validation-for="Direccione.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccione.Localidad" class="control-label"></label>
                <input asp-for="Direccione.Localidad" class="form-control" maxlength="40" />
                <span asp-validation-for="Direccione.Localidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccione.Pais" class="control-label"></label>
                <input asp-for="Direccione.Pais" class="form-control" maxlength="40" />
                <span asp-validation-for="Direccione.Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccione.Provincia" class="control-label"></label>
                <input asp-for="Direccione.Provincia" class="form-control" maxlength="50" />
                <span asp-validation-for="Direccione.Provincia" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Direccione.IdAspNetUsers" class="control-label"></label>
                <select asp-for="Direccione.IdAspNetUsers" class ="form-control" asp-items="ViewBag.IdAspNetUsers"></select>
            </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Direccione.EsFacturacion" /> Direcci&oacute;n de facturaci&oacute;n
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Direccione.EsDomicilio" /> Direcci&oacute;n de domicilio
                </label>
            </div>
            <div class="form-group justify-content-between" role="group" aria-label="Botones">
                <a asp-page="./IndexDirecciones" class="btn btn-secondary w-auto mb-1"><i class="fas fa-arrow-left"></i> Volver</a>&nbsp;
                <button type="submit" class="btn btn-primary w-auto mb-1" ><i class="fas fa-save"></i> Guardar</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
