@model MiHadaMadrinaShop.Models.Categoria

@{
    ViewData["Title"] = "Crear categoría";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container py-5 d-flex flex-column min-vh-100">
    <div class="row">
        <div class="col mt-4">
            <h1 class="font-weight-bold font-italic">Categor&iacute;a</h1>
        </div>
    </div>
    <ol class="breadcrumb mb-4 bg-transparent">
        <li><a asp-area="Admin" asp-controller="Pedidos" asp-action="Index" class="text-black-50 text-decoration-none">Dashboard</a><i class="fas fa-angle-right text-black-50 px-2"></i></li>
        <li><a asp-area="Admin" asp-controller="Categorias" asp-action="Index" class="text-black-50 text-decoration-none">Categor&iacute;a</a><i class="fas fa-angle-right text-black-50 px-2"></i></li>
        <li><a asp-area="Admin" asp-controller="Categorias" asp-action="Create" class="text-dark text-decoration-none active">Crear</a></li>
    </ol>
    <hr class="d-block d-md-none" />

    <div class="row">
        <div class="col-12 col-md-6 align-items-center">
            <div class="card d-flex justify-content-center p-4">
                <div class="card-header">
                    <h1 class="font-weight-bold font-italic">Crear categor&iacute;a</h1>
                </div>
                <form asp-action="Create" method="post">
                    <div class="card-body py-0">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="Categoria1" class="control-label"></label>
                            <input asp-for="Categoria1" class="form-control" />
                            <span asp-validation-for="Categoria1" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Descripcion" class="control-label"></label>
                            <input asp-for="Descripcion" class="form-control" />
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check check mt-3">
                            <label asp-for="EsActivo" class="form-check-label">
                                <input class="form-check-input" asp-for="EsActivo" checked /> @Html.DisplayNameFor(model => model.EsActivo)
                            </label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group justify-content-between" role="group" aria-label="Botones">
                            <a asp-action="Index" class="btn btn-secondary w-auto mb-1"><i class="fas fa-arrow-left"></i> Volver</a>&nbsp;
                            <button type="submit" class="btn btn-primary w-auto mb-1"><i class="fas fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-8 col-md-4 align-items-center">
            <img src="~/img/illustrations/undraw_my_documents_re_13dc.svg" alt="imagen de creaci&oacute;n" class="imagen-width img-fluid rounded mx-auto" />
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
