/*Estilos personalizados vistas INDEX*/

/*Bot&oacute;n de nuevo*/
/*.new-button {
    text-align: center;
    text-decoration: none;
    background-color: #daebf3;
    color: #004c73;
    padding: 6px 20px;
    border: none;
    border-radius: .25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    min-height: 40px;
}

.new-button:hover {
    background-color: #cfdfe7;
    color: #004c73;
}

.btn-new {
    padding: 0;
}*/

/*Forma que se le da a los enlaces para que parezcan botones*/
/*.custom-button-ede {
    display: flex;
    align-items: center;
    padding: 6px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: .25rem;
    min-width: 120px;
    min-height: 40px;
    justify-content: center;
}

.custom-button-ede i {
    margin-right: 5px;
}*/

/*color de los botones Editar, Detalles y Eliminar*/
/*.edit-button {
    background-color: #FFEDA7;
    color: black;
}

.details-button {
    background-color: #F9C7CF;
    color: deeppink;
}

.delete-button {
    background-color: #F3AA92;
}*/

/*color del texto*/
/*.edit-button a, .details-button a, .delete-button a {
    color: black;
}*/

/*color del texto al hacer hover*/
/*.edit-button a:hover, .details-button a:hover, .delete-button a:hover {
    color: darkred;
}

.table thead th {
    background: rgb(255,250,230);
    background: linear-gradient(0deg, rgba(255,250,230,1) 0%, rgba(255,237,167,1) 100%);*/ 
    /*background-color: #FFFAE6;*/
    /*color: black;
    margin-top: 4em;
}*/


/*Vista CREATE*/
/*.save-button {
    background-color: #daebf3;
    color: #004c73;
    padding: 6px 20px;
    border: none;
    border-radius: .25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.save-button:hover {
    background-color: #cfdfe7;
}

.goToBack-button {
    align-items: center;
    display: inline-flex;
    padding: 6px 20px;
    border: none;
    text-align: center;
    background-color: grey;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    border-radius: .25rem;
}

.btn-ancho {
    min-width: 150px;
    min-height: 40px;
}

div.check {
    min-height: 50px;
    padding-top: 1em;
    padding-bottom:1em;
}

@media (max-width: 576px) {
    .custom-button-ede {
        padding: .375rem .5rem;
        justify-content: center;
        width: 100%;
    }

    .custom-button-ede i {
        display: inline;
    }

    .custom-button-ede span {
        display: none;
    }
}*/

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    height: auto;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(249,199,207,1) 100%);
}

/*
 * Contenedor principal
 */
.contenedor {
    margin-bottom: 200px;
    height: auto;
}

/*
 * Home
 */
.imagen-home {
    height: 200px;
    width: 250px;
    align-self: center;
}

/*
 * Account/Create, Gate SignInUser
 */
.icon-fontawesome {
    font-size: 80px;
    text-shadow: 1px 1px 3px rgba(104, 102, 102, 0.493);
    color: #699ED6;
}

.icon-small::before {
    position: absolute;
    font-size: 22px;
    padding-top: 12px;
    padding-left: 13px;
}

/*
 * Estilos generales
 */
.container-shadow {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.imagen-width {
    width: 50%;
}

.color-text {
    color: #2A67A6;
}

.thead-color {
    background-color: #699ED6;
    color: #ffffff;
}

::-webkit-input-placeholder {
    opacity: .1;
}

:-moz-placeholder { /* Firefox 18- */
    opacity: .1;
}

::-moz-placeholder { /* Firefox 19+ */
    opacity: .1;
}

:-ms-input-placeholder {
    opacity: .1;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}


/*
 * Enrollment/Index, Enrollment/Delete, Courses/Index, Course/Delete, CouesesTracks/Index, Docs/Index, Summary/Index, Summary/Finish, Shared/Error
 */
.icon-medium {
    font-size: 22px;
}

/*
 * Student/Index, Family/Index
 */
.form-group {
    font-size: 0px;
}

.form-group span {
    font-size: 14px;
}

.select-group select {
    width: 100%;
}

.form-group input,
.select-group select {
    height: 42px;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.label-form::before {
    position: absolute;
}

/*
 * Docs/Index, 
 */
.input-width {
    max-width: 90%;
}

/*
 * Enrollment/Delete, Course/Delete, Docs/Index,
 */
.button-width {
    width: 50%;
}

/*
 * Shared
 */
.imagen-icon {
    width: 80px;
}

/*
 * Footer
 */
.footer-general {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    white-space: normal;
    padding: 2.5rem 0;
    text-align: center;
    background-color: #F9C7CF;
    border-top: .05rem solid #e5e5e5;
}

/*
 * Cookies
 */
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/*
 * Carrusel
 */
.carrusel-container img {
    width: auto;
    height: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat center center scroll;
    background-size: cover;
}


@media (max-width: 1199.98px) {
    .contenedor {
        margin-bottom: 220px;
    }
}

@media (max-width: 991.98px) {
    .contenedor {
        margin-bottom: 240px;
    }

    .imagen-icon {
        width: 70px;
    }

    .icon-fontawesome {
        font-size: 70px;
    }
}

@media (max-width: 767.98px) {
    .contenedor {
        margin-bottom: 230px;
    }

    .imagen-icon {
        width: 60px;
    }

    .icon-fontawesome {
        font-size: 60px;
    }

    .button-width {
        width: 100%;
    }

    .imagen-width {
        width: 80%;
    }

    .input-width {
        width: 75%;
    }
}

@media (max-width: 575.98px) {
    .contenedor {
        margin-bottom: 300px;
    }

    .imagen-icon {
        width: 50px;
        padding: 0;
    }

    .icon-fontawesome {
        font-size: 50px;
    }
}
