@using MiHadaMadrinaShop.Areas.Public.Controllers;

@{
    ViewData["Title"] = "Privacy Policy";
}

<nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="Public" asp-controller="Home" asp-action="Index">
            <img class="imagen-icon pr-1" src="~/img/logo-MiHadaMadrinaHandMade.png" alt="Logo Mi Hada Madrina">
            <span>Mi Hada Madrina</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-md-inline-flex">
            <ul class="navbar-nav flex-grow-1 justify-content-end text-right">
                <li class="nav-item">
                    <a class="nav-link btn btn-light text-dark font-weight-bold ml-1 text-right px-2" asp-area="Public" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>  Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<a name="privacidad">&nbsp;</a>

<div class="container-fluid w-auto mb-3">
    <div class="row justify-content-center align-self-center">
        <div class="col-11 col-md-8 container-shadow px-3 bg-white py-4">
            <div class="col-12 text-center my-3">
                <img src="~/img/gdpr.svg" alt="Política de privacidad" class="img-fluid imagen-width" />
            </div>
            <div class="col-12 h3 text-center pb-2 color-text font-weight-bold" id="privacidad">
                Pol&iacute;tica de privacidad
            </div>
            <div class="col-12 text-justify text-muted pb-2">
                La presente pol&iacute;tica de privacidad explica de una manera sencilla y transparente c&oacute;mo y qu&eacute; datos personales tuyos recopilamos,
                registramos, almacenamos, utilizamos, cedemos y/o tratamos:
            </div>
            <div class="col-12 text-justify text-muted">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Esta pol&iacute;tica de privacidad se aplica a </strong>cualquier persona física que haga uso de la aplicaci&oacute;n.
                    </li>
                    <li class="list-group-item">
                        <strong>Los datos personales se refieren a </strong>cualquier informaci&oacute;n que identifique o que pueda vincularse a una persona f&iacute;sica.
                    </li>
                    <li class="list-group-item">
                        <strong>Obtenemos datos personales &uacute;nicamente cuando</strong> son introducidos en nuestra aplicaci&oacute;n por el usuario bajo su propia responsabilidad, 
                        al crear una cuenta, cumplimentar la informaci&oacute;n. La transmisi&oacute;n tiene lugar, por defecto, a trav&eacute;s de un canal 
                        seguro cifrado (HTTPS). De igual forma, el almacenamiento de los datos en base de datos se efect&uacute;a mediante cifrado en reposo.<br />
                        No recopilamos datos del uso de la aplicaci&oacute;n. Los datos almacenados son para la finalidad de uso de la aplicaci&oacute;n y quedan bajo potestad de Mi Hada Madrina.
                        Bajo ninguna forma o manera, los datos son cedidos a terceros. 
                    </li>
                    <li class="list-group-item">
                        <dl>
                            Los datos personales que tratamos sobre ti incluyen:
                            <dt>Datos de identificaci&oacute;n: </dt>
                            <dd>nombre, fecha y lugar de nacimiento, n&uacute;mero del documento nacional de identidad o equivalente, direcci&oacute;n de correo postal o electr&oacute;nico, n&uacute;mero de tel&eacute;fono.</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<a name="cookies">&nbsp;</a>

<div class="container-fluid w-auto mb-3">
    <div class="row justify-content-center align-self-center">
        <div class="col-11 col-md-8 container-shadow px-3 bg-white py-4">
            <div class="col-12 text-center my-3">
                <img src="~/img/cookie_love.svg" alt="Información de cookies" class="img-fluid imagen-width" />
            </div>
            <div class="col-12 h3 text-center pb-2 color-text font-weight-bold" id="cookies">
                Pol&iacute;tica de Cookies
            </div>
            <div class="col-12 h4 text-left pt-2 text-secondary font-weight-bold">
                &iquest;Qu&eacute; son las cookies?
            </div>
            <div class="col-12 text-justify text-muted pb-2">
                Las cookies son peque&ntilde;os archivos de texto que contienen informaci&oacute;n y que se descargan en el dispositivo de cualquier usuario que visita una p&aacute;gina web. Tras su instalaci&oacute;n, las cookies pueden ser devueltas a la p&aacute;gina web de origen (cookies de origen) o a otras p&aacute;ginas web (cookies de terceros).
                Las cookies son necesarias para que el sitio web opere correctamente y en algunos casos se utilizan para mejorar la experiencia del usuario.
            </div>
            <div class="col-12 text-justify text-muted">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Seg&uacute;n su finalidad:</strong>
                        <ul>
                            <li>Cookies t&eacute;cnicas o necesarias: aquellas estrictamente necesarias para la correcta funcionalidad del sitio web.</li>
                            <li>Cookies estad&iacute;sticas o an&aacute;lisis: ayudan a los propietarios de p&aacute;ginas web a comprender c&oacute;mo interact&uacute;an los visitantes con las p&aacute;ginas web reuniendo y proporcionando informaci&oacute;n de forma an&oacute;nima.</li>
                            <li>Cookies de personalizaci&oacute;n: permiten al sitio web recordar informaci&oacute;n que cambia el aspecto o comportamiento del sitio web seg&uacute;n las configuraciones del usuario</li>
                            <li>Cookies de marketing o publicidad: se utilizan para rastrear a los visitantes en las p&aacute;ginas web. La intenci&oacute;n es mostrar anuncios relevantes y atractivos para el usuario individual.</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <strong>Seg&uacute;n el tiempo que permanecen activadas:</strong>
                        <ul>
                            <li>Cookies de sesi&oacute;n: guardan informaci&oacute;n exclusivamente durante el tiempo que dura su visita al sitio web.</li>
                            <li>Cookies persistentes: retienen informaci&oacute;n por un periodo tiempo superior a una sesi&oacute;n, recordando las preferencias seleccionadas en accessos previos.</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <strong>Seg&uacute;n la entidad que las gestiona:</strong>
                        <ul>
                            <li>Cookies propias: son gestionadas directamente por el sitio web que las crea y utiliza</li>
                            <li>Cookies de terceros: son gestionadas por servicios de terceros (como Google, Youtube o LinkedIn) para prestar funcionalidades adicionales, como evaluación del tráfico, estadísticas o gestión de preferencias, entre otros.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-12 h4 text-left pt-2 text-secondary font-weight-bold">
                &iquest;Qu&eacute; cookies utiliza nuestro sitio web?
            </div>
            <div class="col-12 text-justify text-muted pb-4">
                Este sitio web ha sido dise&ntilde;ado para utilizar &uacute;nicamente las cookies necesarias para su correcto funcionamiento.
                No utilizamos ninguna cookie de an&aacute;lisis que retenga informaci&oacute;n sobre el usuario ni que rastree su actividad mientras se encuentre en el sitio web. Tampoco hacemos uso de cookies de terceros o de personalizaci&oacute;n.
                <strong>REVISAR... </strong>Solo utilizamos cookies t&eacute;cnicas de sesi&oacute;n, es decir, necesarias para mantener la sesi&oacute;n del usuario activa y permitir la navegaci&oacute;n mientras utiliza la p&aacute;gina web, con un tiempo de vida de 20 minutos con refresco autom&aacute;tico. Una vez que el usuario cierre la sesi&oacute;n o el navegador, estas cookies ser&aacute;n descartadas.
            </div>
        </div>
    </div>
</div>