
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container d-flex flex-column min-vh-100">
    <div class="row mt-4 mt-lg-4 mb-3">
        <div class="col-12">
            <div class="jumbotron shadow bg-white py-5">
                <div class="text-center display-4 font-weight-bold">
                    <h1 class="display-4 fw-bolder">Pedido realizado</h1>
                    <p class="lead fw-normal text-muted-50 mb-0">El pedido ha sido realizado. Puedes verlo desde tus pedidos.</p>
                    <p class="lead fw-normal text-muted-50 mb-0">Cuando el pago sea confirmado por el administrador, podrás imprimir el recibo de tu pedido.</p>
                </div>
            </div>
        </div>
    </div>
</div>